*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{

    outline: 1px purple solid;
    font-family: 'Open Sans', sans-serif;
}

/* ____________generali_______________ */

#ui{
    width: 100vw;
    height: 100vh;
}

ul{
    list-style-type: none;
}

.flex{
    display: flex;
}

/* per desktop */
.container{
    padding: 0 46px;
}

.centered{
    max-width: 1200px;
    margin: 0 auto;
}


a{
    text-decoration: none;
}

img{
    display: block;
    height: 100%;
}

button{
    border: transparent;
    border-radius: 20px;
}

/* ***************NAVBAR************** */


/* general_header */
header{
    background-color: deepskyblue;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;

}

header .centered{
    justify-content: space-between;
    align-items: center;
}


/* links */

.menu_list ul {
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 12px;
}

.menu_list{
    display: none;
}


.menu_list ul button{
    padding: 8px 15px;
}


.menu_list ul li a{
    color: white;
}

.menu_bars{
    font-size: 2em;
}

/* **************** MAIN ************ */

.main_inner{
    padding-top: 60px;

    font-size: 14px;
}


/* prima sezione */

.main_inner #features{
    flex-direction: column;
    gap: 10px;
}

.main_inner #features p{
    color: gray;
    font-weight: bold
}

.main_inner #features h3{
    color: deepskyblue;
    font-size: 20px;
}

.main_inner #features .feature.col i{
    font-size: 5rem;
    color: deepskyblue;
}

#features .feature{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;

    padding: 20px;

    background-color: rgba(157, 219, 255, 0.4);
    border-radius: 20px;
}

#features .feature.col{
    text-align: center;
}

#features .feature .feature_left{
    flex-direction: column;
    gap: 30px;
}

#features .feature button{
    padding: 10px 30px;
    background-color: deepskyblue;
    color: white;
    font-weight: bold;
}

#features .feature.col-2{
    padding-bottom: 0;
}

#features .feature .feature_image img{
    height: 300px;
    width: 100%;

    margin: 0 auto;

    object-fit: contain;
    object-position: bottom;
}


/* planning_______________ */

#planning{
    margin: 1rem 0;
    padding: 2rem 0;
    background-color: #9792e4;
}

#planning #planning_inner{
    flex-direction: column;
    gap: 10px;
}

#planning_inner .planning_text{
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#planning_inner .planning_card{
    padding: 1rem 0;
}

#planning_inner .planning_card.white{
    background-color: white;
    border-radius: 20px;
}

#planning_inner .planning_card.white .planning_text {
    color: black;
    text-align: center;
}

#planning_inner .planning_card.white .planning_text i{
    padding: 1rem 1.2rem;
    background-color: #9792e4;
    border-radius: 50%;
}


#planning_inner .planning_card .planning_image img{
    width: 100%;
}



























/* ************media query************ */

@media screen and (min-width:768px){

    .menu_bars{
        display: none;
    }

    .menu_list{
        display: block;
    }

}




@media screen and (min-width:420px){
    .main_inner #features{
        flex-direction: row;
        flex-wrap: wrap;
    }

    #features .feature.col-2{
        width: calc(100% / 3 * 2 - (10px / 3 * 1));
    }


    #features .feature.col{
        width: calc(100% / 3 - (10px / 3 * 2));
    
    }

    #features .feature .feature_image img{
        width: auto;
        margin: 0;
        object-fit: initial;
    }

}

@media screen and (min-width:992px){
    #features .feature.col-2{
        display: flex;
        flex-direction: row;

    }

    #planning #planning_inner{
        flex-direction: row;
    }

    #planning #planning_inner .planning_card.white{
        align-self: flex-end;
    }


}