*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{

    /* outline: 1px purple solid; */
    font-family: 'Open Sans', sans-serif;
}

/* ____________generali_______________ */

#ui{
    width: 100vw;
    height: 100vh;
}

header ul{
    list-style-type: none;
}


header a,
main a{
    text-decoration: none;
}

img{
    display: block;
    height: 100%;
}

button{
    border: transparent;
    border-radius: 20px;
}


/* per desktop */
.container{
    padding: 0 50px;
}

.centered{
    max-width: 1200px;
    margin: 0 auto;
}



.purple_btn{
    padding: 10px 15px;
    background-color: #9792e4;
    color: white;
}


.flex{
    display: flex;
}


/* ***************NAVBAR************** */


/* general_header */
header{
    background-color: deepskyblue;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;

}

header .centered{
    justify-content: space-between;
    align-items: center;
}


/* links */

.menu_list ul {
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 12px;
}

.menu_list{
    display: none;
}


.menu_list ul button{
    padding: 8px 15px;
}


.menu_list ul li a{
    color: white;
}

.menu_bars{
    font-size: 2em;
}

/* **************** MAIN ************ */

.main_inner{
    padding-top: 60px;

    font-size: 14px;
}


/* prima sezione */

.main_inner #features{
    flex-direction: column;
    gap: 10px;
}

.main_inner #features p{
    color: gray;
    font-weight: bold
}

.main_inner #features h3{
    color: deepskyblue;
    font-size: 20px;
}

.main_inner #features .feature.col i{
    font-size: 5rem;
    color: deepskyblue;
}

#features .feature{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;

    padding: 20px;

    background-color: rgba(157, 219, 255, 0.4);
    border-radius: 20px;
}

#features .feature.col{
    text-align: center;
}

#features .feature .feature_left{
    flex-direction: column;
    gap: 30px;
}

#features .feature button{
    padding: 10px 30px;
    background-color: deepskyblue;
    color: white;
    font-weight: bold;
}

#features .feature.col-2{
    padding-bottom: 0;
}

#features .feature .feature_image img{
    height: 300px;
    width: 100%;

    margin: 0 auto;

    object-fit: contain;
    object-position: bottom;
}


/* planning_______________ */

#planning{
    margin: 1rem 0;
    padding: 2rem 0;
    background-color: #9792e4;
}

#planning #planning_inner{
    flex-direction: column;
    gap: 30px;
}

#planning_inner .planning_text{
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#planning_inner .planning_card{
    padding: 1rem 0;
}

#planning_inner .planning_card.white{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

#planning_inner .planning_card.white .planning_text {
    color: black;
    text-align: center;
}

#planning_inner .planning_card.white .planning_text i{
    padding: 1rem 1.2rem;
    background-color: #9792e4;
    border-radius: 50%;
}


#planning_inner .planning_card .planning_image img{
    width: 100%;
}


/* testimonials_____________ */

#testimonials .testimonials_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    text-align: center;
}

#testimonials .testimonials_title h4{
    color: #9792e4;
}

#testimonials .testimonials_cards_content{
    margin: 1rem 0;

    flex-direction: column;
    gap: 30px;
}


.testimonials_cards_content .testimonials_card{
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #9792e4;
    border-radius: 20px;

    color: white;

    text-align: center;
}

.testimonials_cards_content .testimonials_card_image{
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials_cards_content .testimonials_card_image img{
    width: 100%;
    object-fit: cover;
}


.testimonials_card_text *{
    padding: 5px 0;
}

.testimonials_card_text p:nth-child(2){
    font-weight: bold;
}

/* benefits */

#benefits{
    margin: 1rem 0;
    padding: 2rem 0;
    background-color: #9792e4;
}


.benefits_inner{
    flex-direction: column;
    gap: 20px;
}

#benefits .benefits_content{
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}

#benefits  .benefits_content.col h3{
    color: #9792e4;
    font-size: 40px;
}

#benefits  .benefits_content.col h4{
    color: #9792e4;
    font-size: 25px;
}

#benefits  .benefits_content * {
    padding: 10px 0;
}

#benefits .purple_btn{
    padding: 10px 30px;
    background-color: #9792e4;
    color: white;
}

/* about us */


.about_us_content{
    flex-direction: column;
    gap: 10px;

    padding-top: 30px;
}

.about_us_text{
    padding: 20px;
    flex-direction: column;
    gap: 30px;
}

.about_us_text h2{
    color: #9792e4;
}


.about_us_testimonial{
    padding: 0 10px;
    color: #9792e4;
    flex-direction: column;
    gap: 10px;
}

.about_us_image img{
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.about_us_image{
    position: relative;
}

.about_us_image i{
    position: absolute;
    top: 0;
    left: 100px;
    font-size: 50px;
}


/* free */

#free{
    background-color: #9792e4;
    margin-top: 20px;
    padding: 30px;
    color: white;
}

.free_inner{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.free_inner h2{
    font-size: 2rem;
    color: rgb(212, 175, 119);
}

.free_btn{
    padding: 10px 40px;
}

#free ul{
    flex-direction: row;

    gap: 20px;
}



/* footer */

footer{
    background-color: black;
    padding-top: 50px;
}

.footer{
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    gap:50px;
}

























/* ************media query************ */

@media screen and (min-width:768px){

    .menu_bars{
        display: none;
    }

    .menu_list{
        display: block;
    }

}




@media screen and (min-width:420px){
    .main_inner #features{
        flex-direction: row;
        flex-wrap: wrap;
    }

    #features .feature.col-2{
        width: calc(100% / 3 * 2 - (10px / 3 * 1));
    }


    #features .feature.col{
        width: calc(100% / 3 - (10px / 3 * 2));
    
    }

    #features .feature .feature_image img{
        width: auto;
        margin: 0;
        object-fit: initial;
    }

    #testimonials .testimonials_cards_content .testimonials_card{
        flex-direction: row;
        align-items: flex-start;
    }

    #testimonials .testimonials_cards_content .testimonials_card .testimonials_card_text{
        text-align: left;
    }

    #benefits .benefits_inner{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #benefits .benefits_inner .benefits_content.col{
        width: calc(100% / 2 - 20px);
    }

    .about_us_content{
        flex-direction: row;
    }



}










@media screen and (min-width:992px){
    #features .feature.col-2{
        display: flex;
        flex-direction: row;

    }

    #planning #planning_inner{
        flex-direction: row;
    }

    #planning #planning_inner .planning_card.white{
        align-self: flex-end;
    }

    #benefits .benefits_inner{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #benefits .benefits_inner .benefits_content.col{
        width: calc(100% / 3 - 20px);
    }




}