*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{
    font-family: 'Open Sans', sans-serif;
}

/* ____________generali_______________ */


.container{
    margin: 0 auto; 
}

ul{
    list-style-type: none;
}

.flex{
    display: flex;
}

button{
    border: transparent;
    border-radius: 2em;
    padding: 0.8em 2em;
}

img{
    width: 100%;
    display: block;
}

h3{
    padding: 1em 0;
}


/* ************NAVBAR************** */


.fixed-nav{
    width: 100%;
    margin: 0 auto;

    padding: 0.5em 1em;
    background-color: deepskyblue;
    color: white;

    justify-content: space-between;
    align-items: center;
}

.nav_barmenu {
    font-size: 2em;
}

.fixed-nav ul{
    display: none;
}


/* **************MAIN************* */

/* prima sezione */

.firstsection{
    flex-flow: row wrap;
}


.card{
    border-radius: 2em;
    padding: 1em;
    margin: 1em 1em;
}


.lightblue{
    background-color: rgb(185, 238, 255);
}

.main-content{
    flex-flow: column wrap;
    padding: 1em 0;
    align-items: center;
}

.card-content{
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding: 1em 0;
}

.text{
    padding: 1em 0;

    color: rgb(81, 81, 81);
    font-weight: bold;

    font-size: 0.8em;

    line-height: 1.4em;
}

.lightblue .card-content h3{
    color: deepskyblue;
}


.card-content > i{
    font-size: 4em;
    padding: 0.3em 0;
    color: deepskyblue;
}

.appstore{
    background-color: deepskyblue;
    color: white;

    font-weight: bold;
}